<div class="container">
  <div class="item-selector">
    <div class="folder-list">
      <ng-container *ngFor="let folder of folders">
        <app-folder-item
          [folder]="folder"
          [expandedFolders]="expandedFolders"
          (folderToggled)="toggleFolder($event)"
          (folderExpansionToggled)="toggleFolderExpansion($event.folder, $event.event)"
          (itemToggled)="onItemToggled($event)">
        </app-folder-item>
      </ng-container>
    </div>
  </div>

  <app-selection-info [selectedItemIds]="selectedItemIds" (clearSelection)="clearSelection()"></app-selection-info>
</div>
